# QEdge系统安全配置
Options -Indexes

<FilesMatch "\.(inc|conf|sql|txt|log)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

<FilesMatch "^(install\.php)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

RewriteEngine On

RewriteRule ^api/.*$ - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [NC,L]
