<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:description="@string/xposed_description"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.QEdge"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher"
            android:theme="@style/Theme.QEdge">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LauncherActivity"
            android:enabled="true"
            android:exported="false"
            android:theme="@android:style/Theme.NoDisplay">
        </activity>
        <activity
            android:name=".activity.SettingActivity"
            android:exported="false"
            android:theme="@style/Theme.QEdge" />
        <activity
            android:name=".activity.PluginActivity"
            android:exported="false"
            android:theme="@style/Theme.QEdge" />
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_description" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
        <meta-data
                android:name="xposedscope"
                android:resource="@array/xposedscope" />
    </application>

</manifest>